@import "style.css";

a:link {
    color: #6C7039;
}

.topnav {
    background-color: #989B6D;
}

#website_title {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    color: #FBDBC0;
    display:inline-block;
}

.search_button {
    color: #facda8;
    background-color: #6C7039;
    border-radius: 25px;
    border: none;
    padding: 10px 30px;
}

#search_bar {
    background-color: white;
    border: 1px solid #6C7039;
    border-radius: 25px;
    padding: 10px 80px;
    text-align: left;
}

#user_input {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40%;
}

.login_button, .logout_button {
    color: #6C7039;
    font-size: small;
    text-align: center;
    background-color: #F3B98A;
    border-radius: 25px;
    border: none;
    padding: 10px 35px;
}

.search_button:hover, .login_button:hover{
    background-color: aqua;
    color: black;
}