@import "style.css";

a:link {
    color: #6C7039;
}

table {
    color: #6C7039;
    background-color: #F3B98A;
    /* background-color: black; */
    box-sizing: border-box;
    padding: 50px 50px 100px 110px;
    border: none;
    border-collapse: collapse;
    border-radius: 25px;
}

th, td {
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
}

th {
    padding-top: 20px;
    /* background-color: #F7B78C; */
    /* border-radius: 25px 0px 0px 0px; */
}

td {
    padding-bottom: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    height: 7.5%;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8;
    padding-top: 10px;
}

.sidebarbutton {
    color: #6C7039;
    background-color: #F3B98A;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 25px;
    
}