* {
    font-family: Courier;
}

a {
    text-decoration: none;
}

body {
    background-color: #BCC8B4;
    background: white url("images/library.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}