{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>

    <!-- Side navigation -->
    <div class="sidebar">
        <h2 style="color: #facda8">Location Available</h2>
        <hr style="border: 2px #facda8 solid; margin: 10px">
        <ul style="color: #facda8">
            {% if library_list %}
                {% for library in library_list %}
                    {% if book in library.books.all %} <!--check to see if available > 0-->
                        <li>{{library.branch_name}}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
  
    <body>
        <a href="http://127.0.0.1:8000/database/"><h1>Home Library</h1></a>

        <div class="border">
            <div class="pair">
                <h2>{{ book.title }}</h2>
                <h3>by {{ book.author }}</h3>
            </div>

            <div class="pair2">
                <h4>Published on {{ book.pub_date }}</h4>
                <h4>ISBN: {{ book.isbn }}</h4>
            </div>
            
            <div class="pair3">
                <h4>Summary: </h4>
                {% if book.summary %}
                    <p>{{ book.summary }}</p>
                {% else %}
                    <p>No summary available</p>
                {% endif %}
            </div>
        </div>

    </body>
</html>