{% extends 'database/base.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>

    <!-- Side navigation -->
    <div class="sidebar">
        <h2 style="color: #facda8">Location Available</h2>
        <!-- <p style="color: #facda8">{{ book.library }}</p> -->
        <hr style="border: 2px #facda8 solid; margin: 10px">
        {% for library in libraries %}
            <ul style="color: #facda8">{{library}}</ul>
        {% endfor %}
    </div>
  
    <body>

        <div class="border">
            <div class="pair">
                <h2>{{ book.title }}</h2>
                <h3>by {{ book.author }}</h3>
            </div>

            <div class="pair2">
                <h4>Published on {{ book.pub_date }}</h4>
                <h4>ISBN: {{ book.isbn }}</h4>
            </div>
            
            <div class="pair3">
                <h4>Summary: </h4>
                {% if book.summary %}
                    <p>{{ book.summary }}</p>
                {% else %}
                    <p>No summary available</p>
                {% endif %}
            </div>
        </div>
    </body>

    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <button id="back"><strong>Back</strong></button>
    </form>
</html>

{% endblock %}