{% extends 'database/base.html' %}
{% load static %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>

    <body>
        {% if book_list %}
        <table class="center">
            <tr>
                <th><h2>Book Title</h2></th>
                <th><h2>Author</h2></th>
                <th><h2>Available Location</h2></th>
            </tr>
            {% for book in book_list %}
            <tr>
                <td><a href="/database/{{ book.id }}/">{{ book.title }}</a></td>
                <td>{{book.author}}</td>
                <!-- <td>hi</td> -->

                {% if availability_list %}
                    {% for item in availability_list %}
                        {% if item.book_id == book.id and library_list %}
                            {% for library in library_list %}
                                {% if item in library.books.all %}
                                    <td>{{library.branch_name}}</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No books are available.</p>
        {% endif %}
    </body>
</html>

{% endblock %}