{% extends 'database/base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'register_user.scss' %}">
</head>

<div class="register">
    {% if form.errors %}
        <p>There was an error with your form</p>
    {% endif %}

    <h1>Register</h1>

    <form method="POST" action="{% url 'register_user' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="submit_button">
    </form>
</div>

{% endblock %}